/node_modules/
/public/hot
/public/storage
/public/assets
/public/sitemap.xml
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
.idea
/src/
/storage/media-library/
.composer
auth.json
