@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: local('Titillium Web ExtraLight'),
        local('TitilliumWeb-ExtraLight'),
        url('../fonts/titillium-web-latin-ext/200.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/200.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-display: swap;
    font-weight: 200;
    src: local('Titillium Web ExtraLight Italic'),
        local('TitilliumWeb-ExtraLightItalic'),
        url('../fonts/titillium-web-latin-ext/200-italic.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/200-italic.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: local('Titillium Web Light'),
        local('TitilliumWeb-Light'),
        url('../fonts/titillium-web-latin-ext/300.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/300.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-display: swap;
    font-weight: 300;
    src: local('Titillium Web Light Italic'),
        local('TitilliumWeb-LightItalic'),
        url('../fonts/titillium-web-latin-ext/300-italic.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/300-italic.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Titillium Web Regular'),
        local('TitilliumWeb-Regular'),
        url('../fonts/titillium-web-latin-ext/400.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/400.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: local('Titillium Web Italic'),
        local('TitilliumWeb-Italic'),
        url('../fonts/titillium-web-latin-ext/400-italic.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/400-italic.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local('Titillium Web SemiBold'),
        local('TitilliumWeb-SemiBold'),
        url('../fonts/titillium-web-latin-ext/600.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/600.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-display: swap;
    font-weight: 600;
    src: local('Titillium Web SemiBold Italic'),
        local('TitilliumWeb-SemiBoldItalic'),
        url('../fonts/titillium-web-latin-ext/600-italic.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/600-italic.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local('Titillium Web Bold'),
        local('TitilliumWeb-Bold'),
        url('../fonts/titillium-web-latin-ext/700.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/700.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: local('Titillium Web Bold Italic'),
        local('TitilliumWeb-BoldItalic'),
        url('../fonts/titillium-web-latin-ext/700-italic.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/700-italic.woff') format('woff');
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: local('Titillium Web Black'),
        local('TitilliumWeb-Black'),
        url('../fonts/titillium-web-latin-ext/900.woff2') format('woff2'),
        url('../fonts/titillium-web-latin-ext/900.woff') format('woff');
}
